[submodule "external/minisketch"]
	path = external/minisketch
	url = git@github.com:bitcoin-core/minisketch
[submodule "external/riblt"]
	path = external/riblt
	url = git@github.com:yangl1996/riblt
[submodule "external/IBLT_Cplusplus"]
	path = external/IBLT_Cplusplus
	url = git@github.com:gavinandresen/IBLT_Cplusplus
[submodule "external/cpisync"]
	path = external/cpisync
	url = git@github.com:Bowenislandsong/cpisync
[submodule "external/negentropy"]
	path = external/negentropy
	url = git@github.com:hoytech/negentropy
